html, body{
    margin: 0;
    padding: 0;

    align-items: center;
    justify-content: center;
}

#container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

canvas {
    display: flex;
    flex-direction: row;
  }
  