$yellowCol: #FFE70C;
$blackCol: #000000;
$whiteCol: #FFFFFF;
$lightGrayCol: #F1F1F1;
$darkGrayCol: #6C6C6C;

@mixin inlineBlock
{
    display: flex;
    flex-direction: row;
}

@mixin dropdownExpand
{
    display: none;

    &:hover
    {
        display: block;
    }
}

body
{

}

header
{
    background-color: $yellowCol;

    nav
    {
        @include inlineBlock();

        .navbar__catDeals__categories
        {
            @include inlineBlock();
            @include dropdownExpand();
        }

        .navbar__catDeals__newDeals
        {
            @include inlineBlock();
            @include dropdownExpand();
        }

        .navbar__icons
        {
            @include inlineBlock();
            @include dropdownExpand();
        }
    }
}
