* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section__search_by_category {
  background-color: #FFE70C;
  color: #000000;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__search_by_category .first_gradient {
  width: 100%;
}

.section__search_by_category .last_gradient {
  width: 100%;
}

.section__search_by_category_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__search_by_category_content .left_chevron_img:hover {
  cursor: pointer;
}

.section__search_by_category_content .right_chevron_img:hover {
  cursor: pointer;
}

.section__search_by_category_logos_group {
  /*width: 1240px;*/
}

h2 {
  font-family: 'Bakbak One', cursive;
}

p {
  font-family: 'Baloo Tammudu 2', cursive;
}

.section__padding {
  padding: 50px;
}

.section__new_deals {
  background-color: #000000;
  color: #FFE70C;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 429px;
}

.section__new_deals_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__new_deals_content .left_chevron_yellow_img {
  margin-right: 20px;
}

.section__new_deals_content .left_chevron_yellow_img:hover {
  cursor: pointer;
}

.section__new_deals_content .right_chevron_yellow_img {
  margin-left: 20px;
}

.section__new_deals_content .right_chevron_yellow_img:hover {
  cursor: pointer;
}

.section__new_deals_div_product_showcase {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 30px;
}

.section__new_deals_div_product_showcase .product {
  margin: 0 15px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.section__new_deals_div_product_showcase .product:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section__new_deals_div_product_showcase .product:hover > .section__new_deals_div_product_showcase_text {
  display: block;
}

.section__new_deals_div_product_showcase_text {
  display: none;
  margin-left: 10px;
  position: absolute;
  /*width: 55%;*/
  bottom: 10px;
  text-align: left;
  text-decoration: none;
  color: #FFE70C;
}

.section__new_deals_div_product_showcase .product_price_1 {
  font-size: 32px;
  width: 140px;
  font-weight: lighter;
}

.section__new_deals_div_product_showcase .product_price_2 {
  font-size: 32px;
  width: 140px;
  font-weight: lighter;
}

.section__new_deals_div_product_showcase .product_price_3 {
  font-size: 32px;
  width: 140px;
  font-weight: lighter;
}

.section__new_deals_div_product_showcase .product_price_4 {
  font-size: 32px;
  width: 140px;
  font-weight: lighter;
}

.section__new_deals_div_product_showcase .product_price_5 {
  font-size: 32px;
  width: 140px;
  font-weight: lighter;
}

.section__new_deals_div_product_showcase .product_name_1 {
  line-height: 20px;
  width: 140px;
  font-size: 12px;
}

.section__new_deals_div_product_showcase .product_name_2 {
  line-height: 20px;
  width: 140px;
  font-size: 12px;
}

.section__new_deals_div_product_showcase .product_name_3 {
  line-height: 20px;
  width: 140px;
  font-size: 12px;
}

.section__new_deals_div_product_showcase .product_name_4 {
  line-height: 20px;
  width: 140px;
  font-size: 12px;
}

.section__new_deals_div_product_showcase .product_name_5 {
  line-height: 20px;
  width: 140px;
  font-size: 12px;
}

.section__new_deals .guitarPhoto {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(67.98%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 67.98%);
}

.section__search_by_category_logos_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 5%;
}

.section__meet_your_match {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  font-family: 'Baloo Tammudu 2', cursive;
}

.section__meet_your_match .form_title {
  margin-bottom: 20px;
}

.section__meet_your_match_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section__meet_your_match_form .mym_form_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.section__meet_your_match_form .mym_form_1 .range_price {
  width: 50px;
}

.section__meet_your_match_form .mym_form_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.section__meet_your_match_form .mym_form_2 .submit_button {
  background-color: #FFE70C;
  border: none;
}

.section__meet_your_match_form .mym_form_2 .submit_button:hover {
  cursor: pointer;
  background-color: #000000;
  color: #FFFFFF;
}

.section__meet_your_match select {
  border-width: 1px;
  border-color: #000000;
  border-radius: 10px;
  height: 25px;
  margin-left: 15px;
  font-family: 'Baloo Tammudu 2', cursive;
}

.section__meet_your_match input {
  border-width: 1px;
  border-color: #000000;
  border-radius: 10px;
  height: 25px;
  margin: 15px;
  font-family: 'Baloo Tammudu 2', cursive;
}

.section__join_newsletter {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFE70C;
  font-family: 'Baloo Tammudu 2', cursive;
}

.section__join_newsletter .form_title {
  margin-bottom: 10px;
}

.section__join_newsletter_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__join_newsletter_form input {
  border-width: 1px;
  border-color: #000000;
  border-radius: 10px;
  height: 25px;
  margin: 15px;
  font-family: 'Baloo Tammudu 2', cursive;
}

.section__join_newsletter_form .submit_button {
  margin: 20px;
  width: 100px;
  background-color: #000000;
  color: #FFE70C;
  border: none;
  border-radius: 10px;
  height: 25px;
  margin: 15px;
  font-family: 'Baloo Tammudu 2', cursive;
}

.section__join_newsletter_form .submit_button:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #000000;
}

.manufacturer_hyperlink {
  background-color: #000000;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 142px;
  width: 142px;
  margin: 20px 30px;
  padding: 20px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.manufacturer_hyperlink:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.bombhead__logo {
  position: static;
  margin-right: 20px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.bombhead__logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slider {
  position: relative;
  width: 100%;
  height: 17em;
  overflow: hidden;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.slider .hide {
  display: none;
}

.slider:hover > .image_container {
  -webkit-transform: translateY(-52%);
          transform: translateY(-52%);
}

.slider:hover > .slider__text {
  -webkit-transform: translateY(-52%);
          transform: translateY(-52%);
  color: #000000;
}

.slider:hover > .hide {
  display: block;
}

.slider__text {
  position: absolute;
  width: 55%;
  bottom: 30px;
  left: 150px;
}

.slider__text__title {
  font-family: 'Bakbak One', cursive;
  color: #FFE70C;
  font-weight: lighter;
  margin-bottom: 12px;
  font-size: 50px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.slider__text__paragraph {
  font-family: 'Baloo Tammudu 2', cursive;
  color: #FFFFFF;
  line-height: 24px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.slider .image_container {
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.slider__img_1 {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(67.98%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 67.98%);
}

.slider__img_2 {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(67.98%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 67.98%);
}

header {
  background-color: #FFE70C;
  width: 100%;
  padding: 20px;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .navbar_logo_div:hover {
  cursor: pointer;
}

footer .footer_section_1 {
  background-color: #F1F1F1;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
}

footer .footerHL {
  color: #000000;
  text-decoration: none;
}

footer #footer_section_1_text_left {
  text-align: center;
  margin: 50px;
  line-height: 30px;
  color: #000000;
}

footer #footer_section_1_text_right {
  text-align: center;
  margin: 50px;
  line-height: 30px;
  color: #000000;
}

footer .footer_section_2 {
  background-color: #6C6C6C;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  padding-top: 20px;
}

footer .footer_section_2 .social_media_hyperlink {
  margin: 6px;
}

.burger_menu_div {
  display: none;
  list-style: none;
}

.burger_menu_div .menu_icon {
  width: 28px;
}

.burger_menu_div .navbar__icons_button {
  background: none;
  border: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Baloo Tammudu 2', cursive;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .navbar_search_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Baloo Tammudu 2', cursive;
  background-color: #FFFFFF;
  padding: 5px;
}

nav .navbar__catDeals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav .navbar_search {
  width: 25em;
  height: 25px;
  border: none;
}

nav .catDeals_item {
  margin: 0 40px;
}

nav .navbar__catDeals__categories {
  display: none;
  position: absolute;
  padding: 10px 20px;
  position: absolute;
  z-index: 2;
  list-style: none;
}

nav .navbar__cat__label {
  font-size: 1em;
  margin: 0 2em;
}

nav .navbar__cat__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

nav .navbar__cat__label:hover > .navbar__catDeals__categories {
  display: block;
  background-color: #FFE70C;
  border-radius: 10px;
}

nav .navbar__catDeals__newDeals {
  display: none;
  position: absolute;
  padding: 10px 20px;
  position: absolute;
  z-index: 2;
  list-style: none;
}

nav .navbar__deals__label {
  font-size: 1em;
  margin: 0 2em;
}

nav .navbar__deals__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

nav .navbar__deals__label:hover > .navbar__catDeals__newDeals {
  display: block;
  background-color: #FFE70C;
  border-radius: 10px;
}

nav .navbar_icons_div .navbar__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

nav .navbar_icons_div .navbar__icons_button {
  background: none;
  border: none;
  margin: 0 10px;
}

nav .navbar_icons_div .navbar__icons_button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav .navbar_icons_div .navbar__icons #shopping_cart_button {
  margin-top: 1px;
  margin-right: 18px;
}

.list_element {
  color: #000000;
  text-decoration: none;
}

.list_element:hover {
  background-color: #d8c300;
}
/*# sourceMappingURL=index.css.map */