$yellowCol: #FFE70C;
$blackCol: #000000;
$whiteCol: #FFFFFF;
$lightGrayCol: #F1F1F1;
$darkGrayCol: #6C6C6C;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin inlineBlock{
    display: flex;
    flex-direction: row;
}

@mixin keepInCenter{
    margin: auto;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

@mixin dropdownExpand{

    display: none;

    &:hover{
        display: block;
    }
}

body{
    
}

.section__search_by_category{
    background-color: $yellowCol;
    color:$blackCol;
    @include keepInCenter();
    padding: 10em 0;

    .first_gradient{
        width: 100%;
    }

    .last_gradient{
        width: 100%;
    }

    &_content{
        display: flex;
        flex-direction: row;
        align-items: center;

        .left_chevron_img{
            &:hover{
                cursor: pointer;
            }
        }

        .right_chevron_img{
            &:hover{
                cursor: pointer;
            }
        }
    }

    &_logos_group{
        /*width: 1240px;*/
    }
}

h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
}

p{
    font-family: 'Baloo Tammudu 2', cursive;
}

.section__padding {
    padding: 50px;
}

.section__new_deals{
    background-color: $blackCol;
    color: $yellowCol;
    @include keepInCenter();

    position: relative;
    width: 100%;
    height: 600px;
    overflow: auto;
    margin-left: auto;

    &_content{
        display: flex;  
        flex-direction: row;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        .left_chevron_yellow_img{
            margin-right: 20px;
            margin-left: 20px;

            &:hover{
                cursor: pointer;
            }
        }

        .right_chevron_yellow_img{
            margin-left: 20px;
            margin-right: 20px;

            &:hover{
                cursor: pointer;
            }
        }
    }

    &_div_product_showcase{
        position: relative;
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-left: 10%;

        &:hover{

            cursor: grab;

        }

        .product{
            margin: 0 3em;
            transition: transform .2s;
            display: block;

            &:hover{
                transform: scale(1.2);
                cursor: pointer;

                >.section__new_deals_div_product_showcase_text{
                    display: block;
                }
            }
        }
        
        &_text{
            display: none;
            margin-left: 10px;
            position: absolute;
            /*width: 55%;*/
            bottom: 10px;
            text-align: left;
            text-decoration: none;
            color: $yellowCol;
            top: 310px;
        }

        .product_price{

            font-size: 32px;
            width: 140px;
            font-weight: lighter;

        }

        .product_name{

            line-height: 20px;
            width: 220px;
            font-size: 18px;
        }
    }

    .guitarPhoto{
        width: 200px;
        height: 400px;
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 67.98%),
    }
}

.loader {
    border: 16px solid $yellowCol; /* Light grey */
    border-top: 16px solid $blackCol; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    @include keepInCenter();
  }
    
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.section__search_by_category_logos_group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 5%;
}

.section__meet_your_match{  
    @include keepInCenter();
    background-color: $whiteCol;
    font-family: 'Baloo Tammudu 2', cursive;

    .form_title{
        margin-bottom: 20px;
    }

    &_form{
        display: flex;
        flex-direction: row;    

        .mym_form_1{
            display: flex;
            flex-direction: column;
            margin: 0 20px;
            align-items: left;

                .range_price{
                    width: 50px;
                }
        }

        .mym_form_2{
            display: flex;
            flex-direction: column;
            margin: 0 20px;
            align-items: left;
            
            .submit_button{
                background-color: $yellowCol;
                border: none;

                &:hover{
                    cursor: pointer;
                    background-color: $blackCol;
                    color: $whiteCol;
                }
            }
        }
    }

    select{
        border-width: 1px;
        border-color: #000000;
        border-radius: 10px;
        height: 25px;
        margin-left: 15px;
        font-family: 'Baloo Tammudu 2', cursive;
    }

    input{
        border-width: 1px;
        border-color: #000000;
        border-radius: 10px;
        height: 25px;
        margin: 15px;
        font-family: 'Baloo Tammudu 2', cursive;
    }
}

.section__join_newsletter{
    @include keepInCenter();
    background-color: $yellowCol; 
    font-family: 'Baloo Tammudu 2', cursive;

    .form_title{
        margin-bottom: 10px;
    }

    &_form{
        display: flex;
        flex-direction: column;
        align-items: center;

        input{
            border-width: 1px;
            border-color: #000000;
            border-radius: 10px;
            height: 25px;
            margin: 15px;
            font-family: 'Baloo Tammudu 2', cursive;
        }

        
        .submit_button{
            margin: 20px;
            width: 100px;
            background-color: $blackCol;
            color: $yellowCol;
            border: none;
            border-radius: 10px;
            height: 25px;
            margin: 15px;
            font-family: 'Baloo Tammudu 2', cursive;

            &:hover{
                cursor: pointer;
                background-color: $whiteCol;
                color: $blackCol;
            }
        }
    }
}

.manufacturer_hyperlink{
    background-color: $blackCol;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 142px;
    width: 142px;
    margin: 20px 50px;
    padding: 20px;
    display: flex;
    transition: transform .2s;

    &:hover{
        transform: scale(1.2);
    }
}

#NL_name{
    &:focus{
        background-color: $blackCol;
        color: $whiteCol;
    }
}

.bombhead__logo{
    position: static;
    margin-right: 20px;
    transition: transform .2s;

    &:hover{
        transform: scale(1.2);
    }
}

.slider{
    position: relative;
    width: 100%;
    height: 55em;
    overflow: hidden;
    transition: transform .2s;

    .hide{
        display: none;
    }

    &:hover{

       /* > .image_container{
            transform: translateY(-52%);
        }

        > .slider__text{
            transform: translateY(-52%);
            color: $blackCol;
        }

        > .hide{
            display: block;
        }*/

    }

    &__text {
        position: absolute;
        width: 55%;
        bottom: 300px;
        left: 150px;

        &__title{
            font-family: 'Bebas Neue', cursive;
            color: $yellowCol;
            font-weight: lighter;
            margin-bottom: 12px;
            width: 550px;
            font-size: 96px;
            transition: transform 2s;
        }

        &__paragraph{
            font-family: 'Baloo Tammudu 2', cursive;
            color: $whiteCol;
            line-height: 24px;
            transition: transform 2s;
        }
    }

    .image_container{
        transition: transform 2s;
    }

    &__img_1 {
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 67.98%);
    }

    &__img_2{
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 67.98%);
    }
}


header{
    background-color: $blackCol;
    width: 100%;
    padding: 20px;
    height: 100px;
    align-items: center;
    justify-content: center;

    .navbar_logo_div{
        &:hover{
            cursor: pointer;
        }
    }
}

footer{
    .footer_section_1{
        background-color: $lightGrayCol;
        @include keepInCenter();
        flex-direction: row;
    }

    .footerHL{
        color: $blackCol;
        text-decoration: none;
    }
    
    #footer_section_1_text_left{
        text-align: center;
        margin: 50px;
        line-height: 30px;
        color: $blackCol;
    }
    
    #footer_section_1_text_right{
        text-align: center;
        margin: 50px;
        line-height: 30px;
        color: $blackCol;
    }
    
    .footer_section_2{
        background-color: $darkGrayCol;
        @include keepInCenter();
        color: $whiteCol;
        padding-top: 20px;

        .social_media_hyperlink{
            margin: 6px;
        }
    }
}

.burger_menu_div{

    display: none;
    
    .menu_icon{
        width: 28px;
    }

    .navbar__icons_button{
        background: none;
        border: none;
    }

    list-style: none;
}

nav{
    @include inlineBlock();
    font-family: 'Baloo Tammudu 2', cursive;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    a{
        text-decoration: none !important;
        color: $yellowCol;
    }
    

    .navbar_search_div{
        display: flex;
        font-family: 'Baloo Tammudu 2', cursive;
        background-color: $whiteCol;
        padding: 5px;
    }

    .navbar__catDeals{
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
    }

    .navbar_search{
        width: 25em;
        height: 25px;
        border: none;
    }

    .catDeals_item{
        margin: 0 40px;
    }

    @mixin dropdownList{
        display: none;
        position: absolute;
        padding: 10px 20px;
        position: absolute;
        z-index: 2;
        list-style: none;
    }
    
    .navbar__catDeals__categories{
        @include dropdownList();
    }

    .navbar__cat__label{

        color: $yellowCol;
        font-size: 1em;
        margin: 0 2em;

        &:hover{

            cursor: pointer;
            text-decoration: underline;

            > .navbar__catDeals__categories{
                display: block;
                background-color: $yellowCol;
                border-radius: 10px;
            }

        }
    }

    .navbar__catDeals__newDeals{
        @include dropdownList();
    }

    .navbar__addItems__label{

        &:hover{

            text-decoration: underline;

        }

    }

    .navbar__deals__label{
            font-size: 1em;
            margin: 0 2em;
            color: $yellowCol;
            &:hover{

                cursor: pointer;
                text-decoration: underline;

                > .navbar__catDeals__newDeals{
                    display: block;
                    background-color: $yellowCol;
                    border-radius: 10px;
                }

            }
    }
    .navbar_icons_div{
        .navbar__icons{
            @include inlineBlock();
            list-style: none;
            transition: transform .2s;

            .navbar_user_item{

                font-size: 1em;
                margin: 0 2em;
                color: $yellowCol;
                &:hover{
    
                    cursor: pointer;
                    text-decoration: underline;
    
                    > .navbar_user_item_list{
                        display: block;
                        background-color: $yellowCol;
                        border-radius: 10px;
                    }
    
                }

            }

            &_button{
                background: none;
                border: none;
                margin: 0 10px;

                &:hover{
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }

            #shopping_cart_button{
                margin-top: 1px;
                margin-right: 18px;
            }
        }
    
    }
}

.list_element{
    color: $blackCol;
    text-decoration: none;

        &:hover{
        background-color: darken($color: $yellowCol, $amount: 10)
    }
}
