$yellowCol: #FFE70C;
$blackCol: #000000;
$whiteCol: #FFFFFF;
$lightGrayCol: #F1F1F1;
$darkGrayCol: #6C6C6C;

@mixin inlineBlock{
    display: flex;
    flex-direction: row;
}

@mixin keepInCenter{
    margin: auto;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

@mixin dropdownExpand{

    display: none;

    &:hover{
        display: block;
    }
}


h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
}

h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
}

p{
    font-family: 'Baloo Tammudu 2', cursive;
}


.product{
    display: flex;
    align-items: center;

    margin: 100px;

    .product_info{
        margin-left: 70px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
        
    }

    .product_price{
        color: $blackCol;
        font-size: 32px;
        margin: 10px;
        font-weight: lighter;
        padding-bottom: 10px;

    }

    .product_desc{
        margin: 20px;
    }

    .product_name{
        color: $blackCol;
        line-height: 20px;
        font-size: 3em;
        margin: 10px;
        padding-bottom: 10px;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 10px;

        .product_cart{
            width: 150px;
            background-color: $blackCol;
            color: $yellowCol;
            border-radius: 10px;
            border:  none;
            
            font-family: 'Baloo Tammudu 2', cursive;
            margin: 10px;
            
        }
    
        .showcase__button{
            width: 150px;
            background-color: $yellowCol;
            color: $blackCol;
            border-radius: 10px;
            border-color: $blackCol;
            font-family: 'Baloo Tammudu 2', cursive;
            margin: 10px;
        }
    }
    
    

}


