* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFE70C;
}

body .spTitle {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
}

p {
  font-family: 'Baloo Tammudu 2', cursive;
}

header {
  background-color: #000000;
  width: 100%;
  padding: 20px;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .navbar_logo_div:hover {
  cursor: pointer;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Baloo Tammudu 2', cursive;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .navbar_search_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Baloo Tammudu 2', cursive;
  background-color: #FFFFFF;
  padding: 5px;
}

nav .navbar__catDeals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav .navbar_search {
  width: 25em;
  height: 25px;
  border: none;
}

nav .catDeals_item {
  margin: 0 40px;
}

nav .navbar__catDeals__categories {
  display: none;
  position: absolute;
  padding: 10px 20px;
  position: absolute;
  z-index: 2;
  list-style: none;
}

nav .navbar__cat__label {
  color: #FFE70C;
  font-size: 1em;
  margin: 0 2em;
}

nav .navbar__cat__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

nav .navbar__cat__label:hover > .navbar__catDeals__categories {
  display: block;
  background-color: #FFE70C;
  border-radius: 10px;
}

nav .navbar__catDeals__newDeals {
  display: none;
  position: absolute;
  padding: 10px 20px;
  position: absolute;
  z-index: 2;
  list-style: none;
}

nav .navbar__deals__label {
  font-size: 1em;
  margin: 0 2em;
  color: #FFE70C;
}

nav .navbar__deals__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

nav .navbar__deals__label:hover > .navbar__catDeals__newDeals {
  display: block;
  background-color: #FFE70C;
  border-radius: 10px;
}

nav .navbar_icons_div .navbar__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

nav .navbar_icons_div .navbar__icons_button {
  background: none;
  border: none;
  margin: 0 10px;
}

nav .navbar_icons_div .navbar__icons_button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav .navbar_icons_div .navbar__icons #shopping_cart_button {
  margin-top: 1px;
  margin-right: 18px;
}

.bombhead__logo {
  position: static;
  margin-right: 20px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.bombhead__logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.burger_menu_div {
  display: none;
  list-style: none;
}

.burger_menu_div .menu_icon {
  width: 28px;
}

.burger_menu_div .navbar__icons_button {
  background: none;
  border: none;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .navi_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10em;
}

section .navi_section_item {
  margin: 20px;
}

section .navi_section_item a {
  color: #000000;
  text-decoration: none;
}

section .navi_section_item a:hover {
  color: #FFFFFF;
}

section .item_list {
  margin: 10em;
}

section .total_price_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10em;
}

section .total_price_div h2 {
  margin: 15px;
}

section .checkout_button {
  margin-top: 2em;
  margin-left: 10em;
  margin-bottom: 5em;
}

section .checkout_button .checkout_button_a {
  font-family: 'Baloo Tammudu 2', cursive;
  background-color: #000000;
  color: #FFE70C;
  text-decoration: none;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

footer .footer_section_1 {
  background-color: #F1F1F1;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
}

footer .footerHL {
  color: #000000;
  text-decoration: none;
}

footer #footer_section_1_text_left {
  text-align: center;
  margin: 50px;
  line-height: 30px;
  color: #000000;
}

footer #footer_section_1_text_right {
  text-align: center;
  margin: 50px;
  line-height: 30px;
  color: #000000;
}

footer .footer_section_2 {
  background-color: #6C6C6C;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  padding-top: 20px;
}

footer .footer_section_2 .social_media_hyperlink {
  margin: 6px;
}
/*# sourceMappingURL=shoppingCart.css.map */