$yellowCol: #FFE70C;
$blackCol: #000000;
$whiteCol: #FFFFFF;
$lightGrayCol: #F1F1F1;
$darkGrayCol: #6C6C6C;

@mixin inlineBlock{
    display: flex;
    flex-direction: row;
}

@mixin keepInCenter{
    margin: auto;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

@mixin dropdownExpand{

    display: none;

    &:hover{
        display: block;
    }
}

section{

    display: flex;
    flex-direction: column;

    .navi_section{

        display: flex;
        flex-direction: row;
        margin-left: 10em;

        &_item{
            margin: 20px;

            a{   
                color: $blackCol;
                text-decoration: none;

                &:hover{

                    color: $whiteCol;
    
                }
            }
        }
    }

    .item_list{
        margin: 10em;

        display: flex;
        flex-direction: column;

        .cart_item{

            display: flex;
            flex-direction: row;
                    
            .product_price{

                font-size: 32px;
                width: 140px;
                font-weight: lighter;

            }

            .product_name{

                line-height: 20px; 
                width: 220px;
                font-size: 18px;
            }
            
        }
        .product_image{
            width: 200px;
            height: 400px;
        }

    }

    .total_price_div{

        display: flex;
        flex-direction: row;
        margin-left: 10em;

        h2{
            margin: 15px;
        }

    }

    .checkout_button{

        margin-top: 2em;
        margin-left: 11em;
        margin-bottom: 5em;

        .checkout_button_a{

            font-family: 'Baloo Tammudu 2', cursive;
            background-color: $blackCol;
            color: $yellowCol;
            text-decoration: none;

            padding-top: 8px;
            padding-left: 10px;
            padding-right: 10px;

            border-radius: 10px;

        }

    }
}

footer{

    .footer_section_1{
        background-color: $lightGrayCol;
        @include keepInCenter();
        flex-direction: row;
    }

    .footerHL{
        color: $blackCol;
        text-decoration: none;
    }
    
    #footer_section_1_text_left{
        text-align: center;
        margin: 50px;
        line-height: 30px;
        color: $blackCol;
    }
    
    #footer_section_1_text_right{
        text-align: center;
        margin: 50px;
        line-height: 30px;
        color: $blackCol;
    }
    
    .footer_section_2{
        background-color: $darkGrayCol;
        @include keepInCenter();
        color: $whiteCol;
        padding-top: 20px;

        .social_media_hyperlink{
            margin: 6px;
        }
    }
}